<div class="container">
  <div id="top-answer">
    <h2><%= @survey.title.capitalize %></h2>
    <p><%= @survey.description.capitalize %></p>
  </div>
  <div id="answer-results">
    <% @survey.questions.each_with_index do |question, i| %>
    <div class="survey_ask_question">
      <div><img src="../images/answer.jpg">
        <h2><%= question.question.capitalize %></h2>
      </div>
      <div class="survey_ask_choice">
        <form name="<%= question.id%>" action="/survey/<%= question.id%>/participation" method="post">
          <% question.choices.each_with_index do |choice, j| %>
          <div class="choice-answer">
            <button type="submit" name="<%=choice.id%>" value="select" label="<%=choice.choice%>" >Select</button>
            <p><%= choice.choice.capitalize%></p>
          </div>
          <% end %>
        </form>
        <div class="answer">
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <a href="/survey/<%= @survey.id %>"><button type="submit" name="<%=@survey.id%>" value="survey" id="submit-answer">Complete</button></a>
</div>