<div class="container">
  <% @survey.questions.each_with_index do |question, i| %>
  <div class="survey_ask_question">
    <h2><%= "#{(i + 1)}: " + question.question.capitalize %></h2>

    <div class="survey_ask_choice">
    <form name="<%= question.id%>" action="/survey/<%= question.id%>/participation" method="post">
      <% question.choices.each_with_index do |choice, j| %>
        <p><%= "#{(j + 1)}: " + choice.choice.capitalize%></p>
        <button type="submit" name="<%=choice.id%>" value="select" label="<%=choice.choice%>" >Select</button>
      <% end %>
    </form>
    <div class="answer">
    </div>
    </div>
  </div>
  <% end %>
  <a href="/"><button type="submit" name="<%=@survey.id%>" value="survey">Complete</button></a>
</div>